.weather-app {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ff3366;
  border-radius: 10px;
  background-color: rgba(61, 52, 50, 0.5);
  backdrop-filter: blur(1px);
  backdrop-filter: opacity(20px);
}

h1 {
  color: #0d62a8;
  font size: 24px;
  line-height: 28px;
  margin-bottom:0;
}


ul{
margin: 0;
padding: 0;
}

li{
color: #0d62a8;
margin: 0;
padding: 0;
list-style: none;
font-size: 16px;
font-weight: 100;
line-height: 19px;
}

